<head>  
    <link rel="stylesheet" href="/src/css/header.css">
</head>
<div class="header">
    <div class="lettering">
        <h1>Instafake</h1>
    </div>
    <div class="searchbar">
        <input type="text" placeholder="Suchen...">
    </div>
    <div class="logos">
        <img src="/public/img/home-button.png" alt="icon homebutton">
        <img src="/public/img/paper.png" alt="icon nachrichten">
        <img src="/public/img/compass.png" alt="icon kompass">
        <img src="/public/img/love.png" alt="icon herz">
        <img src="/public/img/Ich.jpg" alt="icon benutzer" id="creator" >
    </div>
</div>