@font-face {
    font-family: 'Lato';
    src: url(/src/fonts/Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 100px;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-right: 20px;
}

.postcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.postcontainer img {
    max-width: 100%;
    height: auto;
}

.authorinfo {
    display: flex;
    align-items: center;
    max-width: 100%;
    box-shadow: 0px 2px 10px #EDEDED;
    padding: 5px;
}

#authorimg {
    width: 48px;
    border-radius: 50%;
    margin-right: 20px;
}

.infos {
    display: flex;
    width: 40vw;
}