@font-face {
    font-family: 'Lato';
    src: url(/src/fonts/Lato-Regular.ttf);
}

* {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
    font-family: 'Lato';
}

.posts {
    display: flex;
    width: 60vw;
}

.infos {
    display: flex;
    width: 40vw;
}